
refer/**

hardware/nes_shell/nes_shell-backups/**
hardware/nes_shell_2/nes_shell-backups/**
hardware/nes_shell/fp-info-cache
hardware/nes_shell_2/fp-info-cache

**autosave**
**auto_save**

# dot files
.vscode/launch.json
.settings
.eide/log
.eide.usr.ctx.json

# project out
/bin
/obj
/out
software/game_shell/app/Drivers
software/game_shell/app/Middlewares
software/game_shell/app/STM32H7B0VBTx_FLASH.ld
software/game_shell/bootloader/Drivers
software/game_shell/bootloader/Middlewares
software/game_shell/bootloader/STM32H7B0VBTx_FLASH.ld
software/game_shell/build/
software/game_shell/app/Third_Party/
software/game_shell/app/Utilities/
software/game_shell/app/LIBJPEG/

*.png
app/Hanoi/res/hanoi_res_oled_128128.aseprite

*.exe

**/startup_stm32h7b0xx.s
**/Makefile

# eide template
*.ept
*.eide-template
.mxproject

codebase
